/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@use "reset";
@use "font";
@use "link";

:root {
	--base-color: #f1e2fc;
	--background-pct: 0.9;

	--background: oklch(from var(--base-color) calc(l * (1 - var(--background-pct))) c h);

	--color: var(--base-color);
	--color-lighter: color-mix(in srgb, var(--base-color) 75%, transparent);
	--color-light: color-mix(in srgb, var(--base-color) 50%, transparent);
	--color-lightest: color-mix(in srgb, var(--base-color) 25%, transparent);
	--border: color-mix(in srgb, var(--base-color) 5%, transparent);
	--border-strong: color-mix(in srgb, var(--base-color) 15%, transparent);
	--card: color-mix(in srgb, var(--base-color) 7%, transparent);

	--selection-pct: 0.6;
	--selection: oklch(from var(--base-color) calc(l * (1 - var(--selection-pct))) c h);
}

* {
	box-sizing: border-box;
}

html {
	background-color: var(--background);
}

html,
body {
	display: flex;
	color: var(--color-lighter);
	font-family: "Encode Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	scrollbar-color: var(--color-light) transparent;
	--test: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--color);
	font-weight: 600;
	letter-spacing: -0.015em;
	font-family: Lora;
	align-items: center;
	display: flex;
	margin-inline-start: calc(var(--test) / -1);
	font-size: 1.15em;
}

h2 {
	font-size: 1.5em;
}

h5 {
	font-size: 0.85em;
}

::selection {
	background-color: var(--selection);
}

noscript {
	display: none;
}

[hidden] {
	display: none !important;
}

body,
#mount {
	width: 100%;
	font-size: 1.5rem;
	line-height: 2.25rem;
}

p {
	color: var(--color-lighter);
}

a {
	text-decoration: none;
	color: inherit;
}

details ul {
	margin-inline-start: 1.5rem;
}

details summary {
	cursor: default;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

strong {
	font-weight: 600;
}

.icon-container {
	width: var(--test);
	height: 1rem;
	display: flex;
	align-items: center;
	justify-content: start;
}
