<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}Kieran Drewett{% endblock title %}</title>
		<meta name="description" content="Kieran Drewett" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href='/app.css?v={{ app_css_version | default(value="1") }}' />
	</head>
	<body>
		<main>{% block content %}{% endblock content %}</main>
		<script src='/app.js?v={{ app_js_version | default(value="1") }}' defer></script>
	</body>
</html>
